section, .row {
    height: 100vh;
    background-image: url(https://picsum.photos/1024/768/?random);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:cover;
}
body{
    text-align: center;
}
.jumbotron{
    background-color:rgba(0, 0, 0, 0.8);
    color:#fff;
}
